<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alglin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Simplex1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Simplex2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Simplex3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Simplex4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>test0.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test10.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>test11.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>test12.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>test13.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>test14.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>test15.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>test2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test5.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test6.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test7.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test8.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test9.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D94CEC152371B541001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CEC8D2371B68B001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CECBC2371B87C001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CECCB2371B8C5001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CECD92371B8CF001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CECE72371B8D7001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CECF52371B8DF001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CED032371B8E6001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CED112371B8EF001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CED1F2371B8F7001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CED2D2371B8FD001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CED9B2371B985001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D94CEDA92371B98C001067BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
