<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BABD_Lib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>CompileAll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Simplex-Test1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Simplex-Test2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Simplex-Test3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Simplex-Test4.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>test0-FD.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test1-small-factorization.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test12-BandedMatrix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test2-Threads.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test3-Timing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test4-KKT.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test5-Diaz.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test6-Block.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test7-BorderedCR.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test8-Cinterface.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test9-Cinterface.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D90FCB5B1E12DB5F00F9EF68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9249FF71E40A294007C4694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D924A0071E40A29E007C4694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D924A0171E40A2A0007C4694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D924A0271E40A2A1007C4694</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92B0C9E1D04390E00222F63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92B0CB51D047E2600222F63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D92B0CC91D04897F00222F63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D930F9591DBFA59700965497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D930F96B1DBFFE9300965497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D93ACACA1CF6473600622119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D93ACADE1CF64FE000622119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D942D1511F1F9BF70094F8F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D955233C1DC2A38400BFD587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D959233E1CE93273005309CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D95A3AF31DC408A2001DC928</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96235E61DC3FA8100E750A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D963840E1F2F311D0067ABD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96BFE721CD01B4B00AB31CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D979B2CA1DD5D71A007E048A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D98319481D0774B500ECCA4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D983195D1D08001900ECCA4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9A06AE61D93C02E00573D89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9B8184B1D8B42C100082BB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9BD01C01EE0012F00912006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9C544881CEA2E4500C9F3FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9C5D6E71F5075C400412D50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9CF60911E1C0FDA0096750D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9D009811CF0CB650098A90E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9D927CA1F4D7C8A0080C232</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9D949711DB58093002D2343</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
